{% extends "base.html.twig" %}
{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <form action="{{ path('login') }}" method="POST">

            <input type="text" name="_username" value="{{ lastUsername }}" placeholder="Email">
            <input type="password" name="_password" placeholder="Password">

            <button type="submit">Login</button>
    </form>
{% endblock %}