/*custom classes*/
.display-none {
    display: none;
}

.display-grid {
    display: grid;
}
.test-color {
    filter: brightness(200%);
}
.bordo-background {
    background-color: rgba(174, 38, 23, 0.98);
}

.text-bordo {
    color: rgba(174, 38, 23, 0.98) !important;
}

.custom-wthite-shadow {
    text-shadow: -3px 4px 6px;
}

.custom-h2 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-button {
    border-radius: 10px;
    padding: 14px 45px;
}

/************/
* {
    font-family: Raleway;
}

html {
    scroll-behavior: smooth !important;
}

.name {
    font-weight: normal;
}


/*navbar*/
#home-page-link {
    padding: 8px 2px 0px 2px;
    border-bottom: 1px solid;
}

#navbar {
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.6s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    top: 0; /* At the top */
    z-index: 99;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 5.5rem;
    }
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}

/* login form*/

#login:hover{
    cursor: pointer;
}

.login-form {
    border-radius: 10px;
    top: 85px;
    right: 27px;
}

#login-usernick {
    box-shadow: 1px 1px 9px inset;
    padding: 5px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

#login-password{
    box-shadow: 1px 1px 9px inset;
    padding: 5px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

#login-submit:hover {
cursor: pointer;
}

#login-submit {
    padding: 5px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(195, 99, 88, 0.98);
}

/*register*/

#register_user_nick {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .3);
    width: 500px;
    padding: 15px 0 15px 48px;
    font-weight: bold;
}

#register_plainPassword_first {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .3);
    width: 500px;
    padding: 15px 0 15px 48px;
    font-weight: bold;
}

#register_plainPassword_second {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .3);
    width: 500px;
    padding: 15px 0 15px 48px;
    font-weight: bold;
}

#register_submit {
    margin-top: 26px;
    border: none;
    height: 45px;
    width: 226px;
}

.register-navbar {
    background: rgba(0, 0, 0, 0.6);
}

.register-form-container {
    margin-top: 12%;
}

.font-weight-bold {
    letter-spacing: 1px;
}

/*about section*/

.uderline-section {
    text-align: center;
    border-bottom: 1px solid #000000;
    margin: 90px 40% 89px 40%;
}

.uderline-bordo {
    text-align: center;
    border-bottom: 1px solid rgba(174, 38, 23, 0.98);
    margin: 10px 40% 60px 40%;
}

/*services*/

.service-images {
    height: 120px;
}

/*portfolio*/

.uderline-resume {
    width: 31%;
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 8px;
}

.col-lg-6 {
    padding: 22px !important;
}

.portfolio-image {
    border-radius: 8px;
}

.text-on-image {
    color: #000 !important;
    top: 75px;
    padding: 0 30px;
}

span h2 {
    font-size: 25px;
    font-weight: 600;
}

/*footer*/

.footer {
    margin-top: 100px;
}

.address-contacts {
    padding: 23px;
    display: flex;
}

dl {
    width: 230px;
}

#call-me-btn {
    background-color: rgba(130, 110, 108, 0.71);
}

#email-me-btn {
    background-color: #c36358;
}

.facebook-icon, .facebook-icon:hover {
    color: #3b5998;
    right: 160px;
    top: 100px;
    opacity: 0.68;
    font-size: 50px;
}

.github-icon, .github-icon:hover {
    color: #000;
    right: 100px;
    top: 100px;
    opacity: 0.68;
    font-size: 50px;
}

.linkedin-icon, .linkedin-icon:hover{
    color: #0e76a8;
    right: 40px;
    top: 100px;
    opacity: 0.68;
    font-size: 50px;
}