<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="portfolio">
        <meta name="author" content="Artūras Gerasimov">
        <title>{% block title %}Portfolio | Artūras Gerasimov{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">

            <style>
                .callout {
                    padding: 15rem 0;
                    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url({{ asset('images/bg-callout.jpg') }});
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url({{ asset('images/bg-callout.jpg') }});
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            </style>

        {% endblock %}
        <script src="{{ asset('build/app.js') }}" type="text/javascript"></script>

    </head>
    <body id="page-top">

    {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script>

                //on scroll nav shrinks or gets bigger

                window.onscroll = function() {scrollFunction()};

                function scrollFunction() {
                    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                        document.getElementById("navbar").style.background = "rgba(0, 0, 0, 0.1)";
                        document.getElementById("navbar").style.padding = "3px";
                        document.getElementById("logo").style.fontSize = "25px";
                    } else {
                        document.getElementById("navbar").style.background = "none";
                        document.getElementById("navbar").style.padding = "10px";
                        document.getElementById("logo").style.fontSize = "40px";
                        document.getElementById("logo").style.transition = ".4s";
                    }
                }

                //writing and deleting animation

                // List of sentences
                var _CONTENT = [
                    "Your trusted web developer!",
                    "There are no limits to your page..."
                ];

                // Current sentence being processed
                var _PART = 0;

                // Character number of the current sentence being processed
                var _PART_INDEX = 0;

                // Holds the handle returned from setInterval
                var _INTERVAL_VAL;

                // Element that holds the text
                var _ELEMENT = document.querySelector("#text");

                // Cursor element
                var _CURSOR = document.querySelector("#cursor");

                // Implements typing effect
                function Type() {
                    // Get substring with 1 characater added
                    var text =  _CONTENT[_PART].substring(0, _PART_INDEX + 1);
                    _ELEMENT.innerHTML = text;
                    _PART_INDEX++;

                    // If full sentence has been displayed then start to delete the sentence after some time
                    if(text === _CONTENT[_PART]) {
                        // Hide the cursor
                        _CURSOR.style.display = 'none';

                        clearInterval(_INTERVAL_VAL);
                        setTimeout(function() {
                            _INTERVAL_VAL = setInterval(Delete, 50);
                        }, 1000);
                    }
                }

                // Implements deleting effect
                function Delete() {
                    // Get substring with 1 characater deleted
                    var text =  _CONTENT[_PART].substring(0, _PART_INDEX - 1);
                    _ELEMENT.innerHTML = text;
                    _PART_INDEX--;

                    // If sentence has been deleted then start to display the next sentence
                    if(text === '') {
                        clearInterval(_INTERVAL_VAL);

                        // If current sentence was last then display the first one, else move to the next
                        if(_PART == (_CONTENT.length - 1))
                            _PART = 0;
                        else
                            _PART++;

                        _PART_INDEX = 0;

                        // Start to display the next sentence after some time
                        setTimeout(function() {
                            _CURSOR.style.display = 'inline-block';
                            _INTERVAL_VAL = setInterval(Type, 100);
                        }, 200);
                    }
                }

                // Start the typing effect on load
                _INTERVAL_VAL = setInterval(Type, 100);

                (function($) {
                    "use strict"; // Start of use strict

                    // Closes the sidebar menu
                    // $(".menu-toggle").click(function(e) {
                    //   e.preventDefault();
                    //   $("#sidebar-wrapper").toggleClass("active");
                    //   $(".menu-toggle > .fa-bars, .menu-toggle > .fa-times").toggleClass("fa-bars fa-times");
                    //   $(this).toggleClass("active");
                    // });

                    // Smooth scrolling using jQuery easing
                    $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
                        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                            if (target.length) {
                                $('html, body').animate({
                                    scrollTop: target.offset().top
                                }, 1000, "easeInOutExpo");
                                return false;
                            }
                        }
                    });

                    // Closes responsive menu when a scroll trigger link is clicked
                    $('#sidebar-wrapper .js-scroll-trigger').click(function() {
                        $("#sidebar-wrapper").removeClass("active");
                        $(".menu-toggle").removeClass("active");
                        $(".menu-toggle > .fa-bars, .menu-toggle > .fa-times").toggleClass("fa-bars fa-times");
                    });

                    // Scroll to top button appear
                    $(document).scroll(function() {
                        var scrollDistance = $(this).scrollTop();
                        if (scrollDistance > 100) {
                            $('.scroll-to-top').fadeIn();
                        } else {
                            $('.scroll-to-top').fadeOut();
                        }
                    });

                })(jQuery); // End of use strict

                // Disable Google Maps scrolling
                // See http://stackoverflow.com/a/25904582/1607849
                // Disable scroll zooming and bind back the click event
                var onMapMouseleaveHandler = function(event) {
                    var that = $(this);
                    that.on('click', onMapClickHandler);
                    that.off('mouseleave', onMapMouseleaveHandler);
                    that.find('iframe').css("pointer-events", "none");
                }
                var onMapClickHandler = function(event) {
                    var that = $(this);
                    // Disable the click handler until the user leaves the map area
                    that.off('click', onMapClickHandler);
                    // Enable scrolling zoom
                    that.find('iframe').css("pointer-events", "auto");
                    // Handle the mouse leave event
                    that.on('mouseleave', onMapMouseleaveHandler);
                }
                // Enable map zooming with mouse scroll when the user clicks the map
                $('.map').on('click', onMapClickHandler);

            </script>
        {% endblock %}
    </body>
</html>
